<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>DB Board</title>
    </head>
    <body>
        <h1>Welcome, this is Test Board</h1>
        <p>
            <h2>This is board list</h2>
            <ul>
                <% for(let i=0; i<boardList.length;i++){ %> 
                <li>
                    <a href="/detail/<%=boardList[i].TITLE%>"><%=boardList[i].TITLE%></a>
                </li>
                <% } %> 
            </ul>
        </p>
        <p><a href="/regist">글쓰기</a> </p>
    </body>
</html>
