<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
    </head>
    <body>
        <!-- 넌적스는 기본적으로 {{}}로 변수를 표기한다. -->
        <h1>{{title}}</h1>
        <p>Welcome to {{title}}</p>
        <button class="{{title}}" type="submit">전송</button>
        <input placeholder="{{title}} 연습" />

        <!-- 변수를 선언할때는 {% set 변수 = 값 %} 을 사용한다. -->
    </body>
</html>